.header{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	border-bottom: solid 15px #cf9744;

    overflow-wrap: anywhere;
    color: green;
    font-size: 33px;
    line-height: 0.66em;
    overflow: hidden;
}