.container {
	display: grid;
	grid-template-rows: 100px auto;
	grid-template-columns: 20% auto;
	
	.main {
		grid-row-start: 2;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3; 

		padding: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

.backToHome {
	margin: 3rem 0 0;
}