.searchResult {
	background: salmon;
	height: 50px;

	img {
		height: 100%;
		width:	50px;
		margin: 5px;
		border-radius: 25px;

	}

	.addToCollection{
		display: inline-block;
	    background-color: white;
		border-radius: 20px;
		border: solid 1px #9e9e9e;
		padding: 5px;
		cursor: pointer;

	    &:before{
	    	content:"";
	    	display: inline-block;
			height: 30px;
			width: 30px;
			background:url('../../public/images/plant.svg') no-repeat;
			border-radius: 5px;
		    background-size: 25px;
		    background-position: center;
	    	background-color: white;
		    vertical-align: bottom;
	    }

	}	

}