html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif  !important;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}


.green{
	color: green;
	font-weight: bold;
}